// Подключение шрифтов
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap&subset=cyrillic-ext");

// Переменные scss
$fontFamily: "Roboto";
$minWidthPhones: 320;
$minWidthTablets: 768;
$maxWidth: 1440;
$maxWidthContainer: 1110;

h1 {
    text-transform: uppercase;
    color: brown;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
}